:root {
  --colorA : #f00; /* #FFA86E */
  --colorB : #00f; /* #48D3DB */
}

.gradient {
  background: linear-gradient(0deg, var(--colorA), var(--colorB));
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 10vmax;
  text-align: center;
  margin-bottom: 10vmax;
}
