body {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

/* SVG could also be loaded from external URL; e.g.
   filter: url("example.svg#filter"); */
canvas {
	filter: url("#filter");
	border: 8px solid #ddd;
}

/* Override default browser sizing - Hide invisible content */
svg {
	display: none;
}
