// 1
img.hexagon(src='https://picsum.photos/230/230')

// 2
.div.hexagon

// 3
<svg xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="img" patternUnits="userSpaceOnUse" width="200" height="230">
      <image href="https://picsum.photos/230/230" width="230"/></pattern>
  </defs>
  <path fill="url(#img)" d="M99.593 0l99.593 57.5v115L99.593 230 0 172.5v-115z"/>
</svg>
